{% block farmAddOwner %}
  <table border="1">
    <form method="post" action="/farmAddedOwner/{{id}}/{{name}}">
      <tr>
        <td colspan="2" align="center"><h1>Add Owner<br>to<br>{{name}}</h1></td>
      <tr>

      <tr>
        <td class="column">Owner:</td>
        <td class="column">
          <select id="owner" name="owner" style="width:100%">
            <option hidden disabled selected value>-- Select an Owner --</option>
            {% for owner in noOwnerList %}
              <option name="{{owner.id}}">{{owner.id}}&nbsp;{{owner.name}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="2"><input style="width:100%" type="submit" value="Save"></td>
      </tr>
    </form>

    <tr>
      <td colspan="2">
        <form action="/ownerList" method="post">
          <input type="submit" style="width:100%" value="Cancel">
        </form>  
      </td>
    </tr>
  </table>
    
  <script src="ValidateOwner.js"></script>
{% endblock %}