{% block carAdd %}
  <table border="1">
    <form method="post" action="/checkedOut">
      <tr>
        <td colspan="2" align="center"><h1>Check Out</h1></td>
      <tr>

      <tr>
        <td>Customer:</td>
        <td>
          <select style="width:100%" name="person" autofocus="autofocus">
            {% for customer in customers %}
              <option value="{{customer.person}}">{{customer.person}} {{customer.name}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <td>Car:</td>
        <td>
          <select style="width:100%" name="registration">
            {% for freeCar in freeCars %}
              <option value="{{freeCar.registration}}">{{freeCar.registration}} {{freeCar.color}} {{freeCar.make}}</option>
            {% endfor %}
          </select>            
        </td>
      </tr>
      
      <tr>
        <td style="width:100%" colspan="2">
          <input type="submit" style="width:100%" value="Check Out">
        </td>
      </tr>
    </form>   

    <tr>
      <td colspan="7">
        <form action="/" method="post">
          <input type="submit" style="width:100%" value="Main Menu">
       </form>  
      </td>
    </tr>
  </table>
  <script src="ValidateCar.js"></script>
{% endblock %}